.topmenu{
	background-color:#9cb8e5;
	color:#000;
	font-size: 1.4em;
	border-bottom: 1px solid #000;

}


.userlist{
	background-color:#f7f296;
}

.userdata{
	background-color:#9dafea;
	color:#000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	height: 100%;


	
}
/*
.ng-invalid.ng-touched{
	border : 3px solid red;
}

.ng-valid.ng-touched{
	border : 3px solid green;
}

.ng-untouched{
	border : 3px solid blue;
}

*/

.ng-invalid.ng-touched{
	border: 3px solid red;
}

.ng-valid.ng-touched{
	border :3px solid green;
}
.ng-touched{
	border : 3px solid #f7f296;
}

.ng-untouched{
	border:3px solid blue;
}


button{
	color:#000;
	margin :20px;

}
textarea{
	resize :none;
}

input.ng-pristine{
	border: 1px solid #green;
}