<!DOCTYPE html>
<html ng-app='CRM' lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" href="https://code.angularjs.org/1.6.6/angular-csp.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller='CRMController'>

<div class="topmenu">
	<div class="container">
		<div class="row">
			<p class="col-md-2"> MI CRM</p>			

			<p class="col-md-offset-1 col-md-2" > BUSCAR</p>
			

			<!-- Preguntar :  El filtro funciona dejandolo como search, pero no como search.nombre o search.curso o correo-->
			<input class="col-md-2" type="text" ng-change="saveState()" ng-model="search" placeholder="Por nombre">
			<input class="col-md-2" type="text" ng-change="saveState()" ng-model="search" palceholder="Por correo"> 

			<select  class="col-md-2"name="" id="" ng-change="saveState()" ng-model = "search">
				<option value="" selected> Filtrar por Estudios</option>	
				<option value="{{curso}}" ng-repeat="curso in cursos">{{curso}}</option>				
			</select>

		</div>
			
	</div>
</div>

	<div class="container userlist">
			<div class="row">
				<div class="col-md-8">
					<div class="row">
						<div class="thumbnail col-md-4" ng-repeat="usuario in usuarios |filter:search track by usuario.id">
							<img ng-src="{{usuario.direccionFoto}}" src="https://s3.amazonaws.com/FringeBucket/default-user.png" alt="" class="img-rounded">
							<div class="caption">

								<p>Nombre :{{usuario.nombre}}</p>
								<p>Teléfono :{{usuario.telefono}}</p>
								<p> Curso(s) :</p>
								 <p ng-if ="usuario.primaria != ''">Primaria</p>
								 <p ng-if ="usuario.secundaria != ''">Secundaria</p>
								 <p ng-if ="usuario.bachillerato != ''">Bachillerato</p>
								 <p ng-if ="usuario.ciclograd != ''" >
								 	Ciclo o grado
								 </p>
								<button class="btn btn-default" role="button" ng-click="actualizarFormularioUsuario(usuario.id)">Modificar</button>
								<button class="btn btn-primary" role="button" ng-click="borrarUsuario(usuario.id)">Borrar</button>
							</div>
						</div>
					</div>
				</div>		
				<div class="userdata col-md-4">
					<!-- TODO : cambiar la manera en la que se guarda localstorage => guardar al cerrar la pagina -->
					<form  name="formUsuario" novalidate>
						<div class="form-group nombre">
							<label > Nombre</label>
							<input name="usuario" ng-required="true" type="text" class="form-control" placeholder="Nombre" ng-model="nuevoUsuario.nombre" ng-change="saveState()">
							<small ng-show ="formUsuario.usuario.$touched && formUsuario.usuario.$invalid">Por favor introduce el nombre del usuario</small>

						</div>
						<div class="form-group">
							<label for="">Edad </label>
							<input name ="edad" ng-min="18" ng-max="100" ng-required="true" type="number" ng-model="nuevoUsuario.edad">
							<small ng-show="formUsuario.edad.$touched && formUsuario.edad.$invalid"> La edad para el registro debe estar entre 18 y 100</small>
						</div>

						<div class="form-group">
							<label for="">Correo</label>
							<input ng-required="true" name="correo"  class="form-control" type="email" ng-model="nuevoUsuario.correo" placeholder="Correo">
							<small ng-show ="formUsuario.correo.$touched && formUsuario.correo.$invalid">Por favor introduce una dirección de correo válida </small>
						</div>

						<div class="form-group foto">
							<label>Url Foto</label>
							<input name="foto" type="text" class="form-control" placeholder="URL de la foto" ng-model="nuevoUsuario.direccionFoto" ng-change="saveState()">
						</div>
						<div class="form-group telefono">
							<label> Tlf.</label>
							<input  ng-minlength="9" ng-required="true" name="telefono" type="text" class="form-control" placeholder="Numero de teléfono" ng-model="nuevoUsuario.telefono" ng-change="saveState()">
							<small ng-show ="formUsuario.telefono.$touched && formUsuario.telefono.$invalid">Por favor introduce un número de teléfono válido </small>

						</div>
						<div class="form-group descripcion">
							<label> Descripción</label>
							<textarea name="descripcion" class="form-control" rows="3"  placeholder="Introduzca una descripcion breve" ng-model="nuevoUsuario.descripcion" ng-change="saveState()"></textarea>
						</div>

						<div class="form-group otros">
							<label> Otros...</label>
							<input name="otros" type="text" class="form-control" placeholder="Otros..." ng-model="nuevoUsuario.otros" ng-change="saveState()">
						</div>
						<div class=" form-group curso">
							<label> Curso</label>
							<input type="checkbox" name="cursos" class="radio-inline" ng-true-value ="'Primaria'" ng-false-value='' ng-model ="nuevoUsuario.primaria" ng-change="saveState()"> Primaria
							<input type="checkbox" name="cursos" class="radio-inline"  ng-true-value="'Secundaria'" ng-false-value=''ng-model="nuevoUsuario.secundaria" ng-change="saveState()"> Secundaria
							<input type="checkbox" name="cursos" class="radio-inline" ng-true-value="'Bachillerato'" ng-false-value=''ng-model="nuevoUsuario.bachillerato" ng-change="saveState()">Bachillerato
							<input type="checkbox" name="cursos" class="radio-inline" ng-true-value="'Ciclo o Grado'" ng-false-value=''ng-model="nuevoUsuario.ciclograd"  ng-change="saveState()">Ciclo o Grado
						</div>


						<div class="botones">
							<div class="row">
							<button class="btn btn-default col-md-4" ng-click="clean()">Cancelar</button>
							<button class="btn btn-primary col-md-offset-2 col-md-4" ng-click="crearUsuario(nuevoUsuario)" ng-disabled="!formUsuario.$valid" ng-show="flagCrear">Crear</button>
							<button class="btn btn-primary col-md-4" ng-click ="modificarUsuario(nuevoUsuario)" ng-show="flagModificar"> Modificar</button>
						</div>
					</div>
				</form>
				</div>
			</div>
		</div>




<!-- Librerias Angular ---->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script> 


<!-- Modulos -->

<script src="js/app.js"></script>

<!-- Servicios y factorias -->
<script src="js/factories/UserLocalProvider.factory.js"></script>
<!-- Controladores -->


<script src="js/controllers/crm.controller.js"></script>

	
</body>
</html>